# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore git 
.git/
.gitignore

# Ignore virtual environment
weather-venv/

# Ignore other unnecessary files
*.log
*.csv
*.json
.DS_Store
Jenkinsfile
pod.yaml

# ignore the files which the app created
history/
LICENSE
*.md